[Unit]
Description = Unique rorrim sync daemon
Requires = network.target
After = network.target

[Service]
ExecStart = /home/mirror/.virtualenvs/tunasync/bin/python -u /home/mirror/tunasync/tunasync.py -c /etc/tunasync.conf
KillSignal = SIGTERM
ExecReload = /bin/kill -SIGUSR1 $MAINPID
Environment = "HOME=/home/mirror"

[Install]
WantedBy = multi-user.target
